.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    color: #ff0000;
    margin-bottom: 20px;
  }
  h3 {
    color: #ff0000;
    font-size: 20px;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #1100ff;
  }
  
  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  button {
    grid-column: span 2;
    padding: 10px;
    color: rgb(0, 255, 38);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .family-members {
    margin-top: 20px;
  }
  
  .family-member {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .family-member p {
    margin: 5px 0;
  }
  
  .family-member button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .family-member button:hover {
    background-color: #ff1a1a;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    form {
      grid-template-columns: 1fr;
    }
  
    input,
    select {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }
  